<div class="main">
  <div class='comment-area mt-5 p-3'>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="my-nav-link" routerLink="./type1" routerLinkActive="my-active">Hide/Show with Style</a>
      </li>
      <li class="nav-item">
        <a class="my-nav-link" routerLink="./type2" routerLinkActive="my-active">ngIf</a>
      </li>
      <li class="nav-item">
        <a class="my-nav-link" routerLink="./type3" routerLinkActive="my-active">ngSwitch</a>
      </li>
      
    </ul>
    <div class="p-3 scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
